@import "../node_modules/bootstrap/scss/bootstrap.scss";


a:not(:hover) {
    text-decoration: none !important;
}

.authors .list-inline-item:not(:last-child) {
    margin-right: 0.9rem;
}

.header {
    @include media-breakpoint-only(xs) {
        .buttons .list-inline-item {
            display: block;
            margin-right: 0;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }

            .btn {
                display: block;
                width: 100%;
                padding: 0.5rem;
            }
        }
    }
}


.nudge {
    animation: nudge 0.35s ease 2, glow 0.7s linear 1;
}

@keyframes nudge {
    50% {
        padding-left: 0.7em;
        margin-right: -0.7em;
    }
}

@keyframes glow {
    15% {
        text-shadow: 0 0 7px #ffcc00;
    }
    85% {
        text-shadow: 0 0 7px #ffcc00;
    }
}


.highlighted-text {
    max-height: 60vh;
    overflow-y: auto;
    border: 1px solid #d2d2d2;
    border-radius: 0 0 5px 5px;
    padding: 2px;
    cursor: pointer;
}

.highlighted-text .token.active {
    outline: 1px solid #444;
}

.highlighted-text .token.context {
    text-decoration: #999 underline;
}

.highlighted-text.loading .token.active, .highlighted-text.loading .token:hover{
    outline: none;
}

.highlighted-text.loading {
    color: #666;
    background: linear-gradient(90deg, #92929200 5%, #92929288 25%, #92929200 45%);
    background-size: 250% 100%;
    background-repeat: repeat-y;
    animation: shimmer 1.5s linear infinite;
    cursor: wait;
}

@keyframes shimmer {
    0% {
        background-position: 125% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.status-bar {
    border: 1px solid #d2d2d2;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    padding: 3px 4px;
}

.status-bar .token {
    border: 1px solid #aaa;
    border-radius: 2px;
    background: #f5f5f5;
    padding: 1px;
    margin: 1px;
    margin-right: 2px;
}

/* Copied from Boostrap, not sure why I need to do this */
.form-floating > .form-select ~ label {
    opacity: .65;
    transform: scale(.85)translateY(-.5rem)translateX(.15rem);
}
