.highlighted-text {
    max-height: 70vh;
    overflow-y: auto;
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    padding: 2px;
}

.highlighted-text .token.active {
    outline: 1px solid #444;
}

.highlighted-text.loading .token.active {
    outline: none;
}

.highlighted-text.loading {
    color: #666;

    background: linear-gradient(110deg, #92929200 5%, #92929288 25%, #92929200 45%);
    background-size: 250% 100%;
    background-repeat: repeat-y;
    animation: shimmer 1.5s linear infinite;
}

@keyframes shimmer {
    0% {
        background-position: 125% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

/* Copied from Boostrap, not sure why I need to do this */
.form-floating > .form-select ~ label {
    opacity: .65;
    transform: scale(.85)translateY(-.5rem)translateX(.15rem);
}